#expedicao {
  background-color: #D4AF37;

  color: white;

  font-size: 20px;

  padding: 15px 30px;

  border: 5px;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.2;
}

#expedicao:hover {

  background-color: #B8860B;

  transform: scale(1.05);
}



#expedicao:active {

  transform: scale(0.95);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #5a3e1b;
}

#jogar {
  background-color: #ff9933;
  color: white;
  font-size: 22px;
  padding: 15px 40px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

#jogar:hover {
  background-color: #e68a00;
  transform: scale(1.08);
}

#jogar:active {
  transform: scale(0.95);
}
